img {
  width: 30%;
}
h2 {
  background-color: #f0ebcc;
  padding: 30px;
  text-align: center;
  color: #3f3697;
  line-height: 25px;
}
h3 {
  color: #3f3697;
}
p {
  padding: 20px;
  color: #3f3697;
  text-align: inherit;
}

img {
  margin-left: 30px;
  border-radius: 12px;
}
.container {
  padding: 90px;
  margin: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
}
