footer{
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid lightgray;
	background: rgb(150, 150, 150);
}
footer a{
	text-decoration: none;
	color: #fff;
	margin: 0 5%;
}