footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid lightgray;
  background: #3d84b8;
}
footer a {
  text-decoration: none;
  margin: 0 5%;
  color: #f0ebcc;
}
