footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 0;
  background: #93c1e2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: #444;
  font-size: 30px;
}
footer a:hover{
  transition: color 0.3s ease-in;
  color: #fff;
}