header{
	background: #93c1e2;
	width: 100vw;

}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}
nav a{
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	color: #222;
}
nav img{
	width: 36px;
	margin-left: 40px;
	mix-blend-mode: multiply;
	filter: drop-shadow(2px 4px 8px #222);
	border-radius: 4px;
}
.active{
	font-weight: 700;
	border-bottom: 3px solid #fff;
	color: #f4f4f4;
}
.nav-links a{
	margin: 0 30px;
}
.logo-nav{
	display: flex;
	align-items: center;
}
.blogTitle {
    font-size: 12px;
	font-weight: 700;
    color: #f3f3f3;
	letter-spacing: 0.8px;
    padding-left: 14px;
}