@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  width: 100vw;

}
body{
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-weight: 300;
}